@model PriceModel


<div> 
    <h3>Palte :  @Model.Plate</h3>
    <h3>TimeSpan : @Model.timeSpan Hours</h3>
    <h3>TotalPrice : @Model.Price</h3>
</div>

@*<table>
    <tr>
        <th class="m-3">Palte</th>
        <th class="m-3">Time Span</th>
        <th class="m-3">Price</th>
    </tr>
    <tr>
        <td class="m-3">@Model.Plate</td>
        <td class="m-3">@Model.timeSpan</td>
        <td class="m-3">@Model.Price</td>
    </tr>
</table>
*@